In [1]:
import matplotlib 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import altair as alt

In [2]:
job = pd.read_csv("Jobs.csv")
people = pd.read_csv("People.csv")

In [3]:
job_Unemp = job[["FIPS", "State", "County", 
                            "UnempRate2019", 
                            "UnempRate2018", "UnempRate2017", 
                            "UnempRate2016", "UnempRate2015",
                            "UnempRate2014"]]
job_Unemp = job_Unemp.iloc[1: , :]
job_Unemp.columns = ["id", "State", "County", 
                            "2019", "2018", 
                            "2017", "2016", "2015", 
                            "2014"]
job_Unemp = job_Unemp[job_Unemp['id'].astype(str).str.contains("000")==False]
job_Unemp = job_Unemp[job_Unemp['State']=='WY']
job_Unemp

         id State       County  2019  2018  2017  2016  2015  2014
3176  56001    WY       Albany   3.2   3.3   2.9   3.2   3.1   3.6
3177  56003    WY     Big Horn   4.4   4.7   4.4   5.0   4.4   4.7
3178  56005    WY     Campbell   3.8   4.1   5.0   7.2   3.9   3.5
3179  56007    WY       Carbon   3.5   3.7   4.1   4.7   3.7   4.2
3180  56009    WY     Converse   2.9   3.7   4.6   6.3   3.6   3.2
3181  56011    WY        Crook   3.3   3.2   3.6   4.6   3.5   4.1
3182  56013    WY      Fremont   4.5   5.2   5.7   7.2   5.5   5.2
3183  56015    WY       Goshen   3.8   3.3   3.0   3.5   3.2   3.8
3184  56017    WY  Hot Springs   3.5   3.6   4.0   4.8   4.1   4.4
3185  56019    WY      Johnson   3.7   4.0   4.3   5.4   4.8   4.7
3186  56021    WY      Laramie   3.5   3.9   3.8   4.2   3.9   4.5
3187  56023    WY      Lincoln   3.4   3.8   3.8   4.7   4.7   5.4
3188  56025    WY      Natrona   4.0   4.6   5.4   7.2   4.8   4.2
3189  56027    WY     Niobrara   2.8   2.8   2.8   3.3   3.0   3.5
3190  56029    WY         Park   4.2   4.4   4.4   4.8   4.2   4.7
3191  56031    WY       Platte   3.6   3.7   3.8   4.8   3.9   4.0
3192  56033    WY     Sheridan   3.6   4.0   4.0   4.7   4.2   4.9
3193  56035    WY     Sublette   4.7   4.3   4.6   6.5   5.1   4.5
3194  56037    WY   Sweetwater   4.0   4.2   4.7   6.1   4.6   4.2
3195  56039    WY        Teton   2.8   3.0   2.9   3.5   3.8   4.9
3196  56041    WY        Uinta   4.0   4.3   4.7   5.8   4.9   5.0
3197  56043    WY     Washakie   4.1   4.2   4.1   4.8   4.1   4.5
3198  56045    WY       Weston   3.0   3.5   4.1   5.0   3.4   3.5

In [4]:
job_Unemp = job_Unemp.melt(['id','State','County'], var_name='Year')
job_Unemp.rename(columns={'value':'RateUnemployed'}, inplace=True)
job_Unemp

        id State      County  Year  RateUnemployed
0    56001    WY      Albany  2019             3.2
1    56003    WY    Big Horn  2019             4.4
2    56005    WY    Campbell  2019             3.8
3    56007    WY      Carbon  2019             3.5
4    56009    WY    Converse  2019             2.9
..     ...   ...         ...   ...             ...
133  56037    WY  Sweetwater  2014             4.2
134  56039    WY       Teton  2014             4.9
135  56041    WY       Uinta  2014             5.0
136  56043    WY    Washakie  2014             4.5
137  56045    WY      Weston  2014             3.5

[138 rows x 5 columns]

In [5]:
job_emp = job[["FIPS", "State", "County", 
                            "NumEmployed2014", 
                            "NumEmployed2015", "NumEmployed2016", 
                            "NumEmployed2017", "NumEmployed2018",
                            "NumEmployed2019"]]
job_emp = job_emp.iloc[1: , :]
job_emp.columns = ["id", "State", "County", 
                            "2019", "2018", 
                            "2017", "2016", "2015", 
                            "2014"]
job_emp = job_emp[job_emp['id'].astype(str).str.contains("000")==False]
job_emp = job_emp[job_emp['State']=='WY']
job_emp

,id,State,County,2019,2018,2017,2016,2015,2014
3176,56001,WY,Albany,19516.0,19836.0,20299.0,20056.0,19917.0,19996.0
3177,56003,WY,Big Horn,5257.0,5272.0,5263.0,5177.0,5077.0,5027.0
3178,56005,WY,Campbell,25033.0,24606.0,22648.0,22090.0,22317.0,22575.0
3179,56007,WY,Carbon,7993.0,8061.0,7969.0,7651.0,7647.0,7577.0
3180,56009,WY,Converse,7980.0,7949.0,7385.0,7209.0,7444.0,8463.0
3181,56011,WY,Crook,3519.0,3552.0,3567.0,3585.0,3647.0,3647.0
3182,56013,WY,Fremont,19273.0,18977.0,18591.0,18436.0,18124.0,18062.0
3183,56015,WY,Goshen,6791.0,6795.0,6784.0,6782.0,6681.0,6274.0
3184,56017,WY,Hot Springs,2352.0,2282.0,2308.0,2261.0,2173.0,2131.0
3185,56019,WY,Johnson,4221.0,3966.0,3981.0,4056.0,4115.0,4039.0
3186,56021,WY,Laramie,46027.0,46341.0,46765.0,46850.0,46874.0,48017.0
3187,56023,WY,Lincoln,7706.0,7955.0,8313.0,8500.0,8550.0,8787.0
3188,56025,WY,Natrona,41051.0,40431.0,38073.0,37776.0,37896.0,38760.0
3189,56027,WY,Niobrara,1288.0,1278.0,1294.0,1276.0,1260.0,1201.0
3190,56029,WY,Park,14842.0,14974.0,15174.0,15152.0,15088.0,14819.0
3191,56031,WY,Platte,4534.0,4683.0,4544.0,4638.0,4659.0,4433.0
3192,56033,WY,Sheridan,14963.0,15139.0,15363.0,15313.0,15276.0,15122.0
3193,56035,WY,Sublette,4601.0,4298.0,3958.0,4100.0,4116.0,3917.0
3194,56037,WY,Sweetwater,22061.0,21509.0,20794.0,20758.0,20635.0,20568.0
3195,56039,WY,Teton,13579.0,14016.0,14715.0,15114.0,15111.0,15521.0
3196,56041,WY,Uinta,9281.0,9120.0,8876.0,8765.0,8739.0,8912.0
3197,56043,WY,Washakie,4036.0,4058.0,4013.0,3982.0,3932.0,3742.0
3198,56045,WY,Weston,3789.0,3798.0,3761.0,3637.0,3678.0,3704.0

In [6]:
job_emp = job_emp.melt(['id','State','County'], var_name='Year')
job_emp.rename(columns={'value':'NumEmployed'}, inplace=True)
job_emp

        id State      County  Year  NumEmployed
0    56001    WY      Albany  2019      19516.0
1    56003    WY    Big Horn  2019       5257.0
2    56005    WY    Campbell  2019      25033.0
3    56007    WY      Carbon  2019       7993.0
4    56009    WY    Converse  2019       7980.0
..     ...   ...         ...   ...          ...
133  56037    WY  Sweetwater  2014      20568.0
134  56039    WY       Teton  2014      15521.0
135  56041    WY       Uinta  2014       8912.0
136  56043    WY    Washakie  2014       3742.0
137  56045    WY      Weston  2014       3704.0

[138 rows x 5 columns]

In [7]:
job_result = pd.merge(job_emp,job_Unemp, on=["id", "State", "County", "Year"])
job_result

        id State      County  Year  NumEmployed  RateUnemployed
0    56001    WY      Albany  2019      19516.0             3.2
1    56003    WY    Big Horn  2019       5257.0             4.4
2    56005    WY    Campbell  2019      25033.0             3.8
3    56007    WY      Carbon  2019       7993.0             3.5
4    56009    WY    Converse  2019       7980.0             2.9
..     ...   ...         ...   ...          ...             ...
133  56037    WY  Sweetwater  2014      20568.0             4.2
134  56039    WY       Teton  2014      15521.0             4.9
135  56041    WY       Uinta  2014       8912.0             5.0
136  56043    WY    Washakie  2014       3742.0             4.5
137  56045    WY      Weston  2014       3704.0             3.5

[138 rows x 6 columns]

In [8]:
people_size_year = people[["FIPS", "State", "County", 
                            "TotalPopEst2014", "TotalPopEst2015", 
                            "TotalPopEst2016", "TotalPopEst2017", 
                            "TotalPopEst2018", "TotalPopEst2019"]]
people_size_year = people_size_year.iloc[1: , :]
people_size_year.columns = ["id", "State", "County", 
                            "2014", "2015", 
                            "2016", "2017", "2018", "2019"]
people_size_year = people_size_year[people_size_year['id'].astype(str).str.contains("000")==False]
people_size_year = people_size_year[people_size_year['State']=='WY']
people_size_year

         id State       County   2014   2015   2016   2017   2018   2019
3171  56001    WY       Albany  37620  37960  37923  38459  38728  38880
3172  56003    WY     Big Horn  11853  11945  11941  11859  11877  11790
3173  56005    WY     Campbell  48130  49258  48745  46402  46299  46341
3174  56007    WY       Carbon  15872  15613  15689  15252  14879  14800
3175  56009    WY     Converse  14201  14297  14094  13733  13658  13822
3176  56011    WY        Crook   7234   7435   7499   7397   7445   7584
3177  56013    WY      Fremont  40565  40219  40200  39818  39561  39261
3178  56015    WY       Goshen  13522  13542  13306  13361  13292  13211
3179  56017    WY  Hot Springs   4786   4716   4654   4686   4568   4413
3180  56019    WY      Johnson   8582   8611   8484   8447   8446   8445
3181  56021    WY      Laramie  96036  96969  97887  98377  98865  99500
3182  56023    WY      Lincoln  18567  18747  19072  19278  19445  19830
3183  56025    WY      Natrona  81377  82137  80909  79586  79175  79858
3184  56027    WY     Niobrara   2488   2496   2468   2392   2400   2356
3185  56029    WY         Park  28966  28928  29213  29194  29210  29194
3186  56031    WY       Platte   8775   8798   8662   8541   8516   8393
3187  56033    WY     Sheridan  29852  29883  29964  30147  30219  30485
3188  56035    WY     Sublette  10151  10044   9982   9745   9798   9831
3189  56037    WY   Sweetwater  44948  44719  44222  43464  42858  42343
3190  56039    WY        Teton  22773  23047  23234  23384  23269  23464
3191  56041    WY        Uinta  20822  20763  20682  20431  20292  20226
3192  56043    WY     Washakie   8273   8278   8165   8010   7877   7805
3193  56045    WY       Weston   7138   7208   7220   6968   6924   6927

In [9]:
people_size = people_size_year.melt(['id','State','County'], var_name='Year')
people_size.rename(columns={'value':'Population'}, inplace=True)
people_size

        id State      County  Year  Population
0    56001    WY      Albany  2014       37620
1    56003    WY    Big Horn  2014       11853
2    56005    WY    Campbell  2014       48130
3    56007    WY      Carbon  2014       15872
4    56009    WY    Converse  2014       14201
..     ...   ...         ...   ...         ...
133  56037    WY  Sweetwater  2019       42343
134  56039    WY       Teton  2019       23464
135  56041    WY       Uinta  2019       20226
136  56043    WY    Washakie  2019        7805
137  56045    WY      Weston  2019        6927

[138 rows x 5 columns]

In [10]:
result =pd.merge(people_size,job_result, on=["id", "State", "County", "Year"])
result

        id State      County  Year  Population  NumEmployed  RateUnemployed
0    56001    WY      Albany  2014       37620      19996.0             3.6
1    56003    WY    Big Horn  2014       11853       5027.0             4.7
2    56005    WY    Campbell  2014       48130      22575.0             3.5
3    56007    WY      Carbon  2014       15872       7577.0             4.2
4    56009    WY    Converse  2014       14201       8463.0             3.2
..     ...   ...         ...   ...         ...          ...             ...
133  56037    WY  Sweetwater  2019       42343      22061.0             4.0
134  56039    WY       Teton  2019       23464      13579.0             2.8
135  56041    WY       Uinta  2019       20226       9281.0             4.0
136  56043    WY    Washakie  2019        7805       4036.0             4.1
137  56045    WY      Weston  2019        6927       3789.0             3.0

[138 rows x 7 columns]

In [11]:
countries = ['Wyoming','Albany','Big Horn','Campbell','Carbon',
              'Converse','Crook','Fremont','Goshen','Hot Springs',
              'Johnson','Laramie','Lincoln','Natrona','Niobrara',
              'Park','Platte','Sheridan','Sublette','Sweetwater',
              'Teton','Uinta','Washakie','Weston']

colors = ['#e7ba52', '#a7a7a7', '#aec7e8', '#1f17b4', '#9367bd',
         '#r9ba53', '#b1a7a8', '#kec1e7', '#2f73b3', '#8465cd',
         '#d2ba54', '#c2a7a9', '#bec3e6', '#7f47b2', '#6445bd',
         '#a1ba55', '#d3a7a0', '#fec2e5', '#4f57b1', '#5464ad'
         ]

In [12]:
import altair as alt

source = result

scale = alt.Scale(domain=countries,
                  range=colors)
color = alt.Color('County:N', scale=scale)

brush = alt.selection_interval(encodings=['x'])

click = alt.selection_multi(encodings=['color'])

points = alt.Chart().mark_point().encode(
    alt.X('RateUnemployed:O', title='RateUnemployed'),
    alt.Y('Population:Q',
        title='Population',
        scale=alt.Scale(domain=[0, 110000])
    ),
    color=alt.condition(brush, color, alt.value('lightgray')),
    size=alt.Size('NumEmployed:Q', scale=alt.Scale(range=[5, 200]))
).properties(
    width=700,
    height=300
).add_selection(
    brush
).transform_filter(
    click
)

In [13]:
bars = alt.Chart().mark_bar().encode(
    x='count()',
    y='County:N',
    color=alt.condition(click, color, alt.value('lightgray')),
).transform_filter(
    brush
).properties(
    width=700,
).add_selection(
    click
)

alt.vconcat(
    points,
    bars,
    data=source,
    title="Population with employeement number and unemployeement rate in WY"
)

alt.VConcatChart(...)